a {
  color: #7ba5de; }

p {
  color: #888; }

.color_element {
  color: #7ba5de; }

.color_bg {
  background-color: #7ba5de; }

.color_border {
  border-color: #7ba5de; }

.main-color-bg {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-light {
  background-color: #FAFAFA; }

.bg-dark {
  background-color: #222;
  color: #fff; }
  .bg-dark h2::before {
    background-color: #fff; }
  .bg-dark a {
    color: #fff; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
    -webkit-font-smoothing-color: #000;
  letter-spacing: 1px; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section, header {
  position: relative; }

section {
  padding: 50px 0 80px; }
  section h2 {
    margin: 0 0 100px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative; }
    section h2::before {
      content: "";
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: -20px;
      width: 140px;
      height: 1px;
      background-color: #000; }
  section h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 35px; }

.main-header {
  min-height: 600px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }

.loaderInner {
  background-image: url("../img/preload.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 128px;
  width: 128px;
  margin-top: -30px;
  left: 45%;
  top: 50%;
  position: absolute; }

.logo-container {
  float: left; }
  .logo-container path {
    width: 102px;
    height: 102px; }

.block-lang {
  display: block;
  position: fixed;
  top: 40px;
  right: 100px;
  z-index: 100; }
  .block-lang .lang-switcher {
    display: block;
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 100; }
    .block-lang .lang-switcher:before, .block-lang .lang-switcher:after {
      position: absolute;
      top: 13px;
      left: 14px;
      font-size: 18px;
      color: #fff; }
    .block-lang .lang-switcher:before {
      content: attr(data-lang-1); }
    .block-lang .lang-switcher:after {
      content: attr(data-lang-2);
      top: 60px;
      color: #fff;
      opacity: 0;
      -webkit-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear; }
    .block-lang .lang-switcher:hover:after {
      opacity: 1; }
  .block-lang .lang-switcher__svg-item {
    cursor: pointer;
    fill: #000;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  .block-lang .lang-switcher:hover .js-moving {
    -webkit-transform: translateY(94px);
        -ms-transform: translateY(94px);
            transform: translateY(94px); }

.toggle-menu {
  position: fixed;
  right: 40px;
  top: 50px;
  width: 40px;
  height: 40px;
  z-index: 100;
  border: none;
  background-color: transparent;
  outline: none; }

.sandwich {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block; }

.sw-topper {
  position: relative;
  display: block;
  top: 0;
  width: 40px;
  height: 2px;
  background: #000;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  /* transition-delay: 0.2s, 0s; */ }

.sw-bottom {
  position: relative;
  display: block;
  width: 40px;
  height: 2px;
  top: 15px;
  background: #000;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  display: block;
  width: 40px;
  height: 2px;
  top: 30px;
  background: #000;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 20px;
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg);
  background: #fff; }

.sandwich.active .sw-bottom {
  top: 18px;
  -webkit-transform: rotate(-140deg);
      -ms-transform: rotate(-140deg);
          transform: rotate(-140deg);
  background: #fff; }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.top-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 90;
  display: none; }
  .top-menu ul,
  .top-menu li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .top-menu ul {
    margin-top: 180px;
    text-align: center; }
    .top-menu ul li:nth-child(1) a {
      -webkit-animation-duration: 0.4s;
              animation-duration: 0.4s; }
    .top-menu ul li:nth-child(2) a {
      -webkit-animation-duration: 0.6s;
              animation-duration: 0.6s; }
    .top-menu ul li:nth-child(3) a {
      -webkit-animation-duration: 0.8s;
              animation-duration: 0.8s; }
    .top-menu ul li:nth-child(4) a {
      -webkit-animation-duration: 1s;
              animation-duration: 1s; }
    .top-menu ul a {
      color: #fff;
      display: block;
      padding: 20px 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px; }

.top-menu a:hover {
  color: #7ba5de;
  background-color: rgba(255, 255, 255, 0.1);
  letter-spacing: 3px;
  text-decoration: none;
  -webkit-transition: background-color 0.8s linear;
  transition: background-color 0.8s linear; }

.head-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .head-wrapper .head-descr {
    display: table-row; }
    .head-wrapper .head-descr .head-centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
    .head-wrapper .head-descr .head-name {
      display: inline-block; }
      .head-wrapper .head-descr .head-name h1 {
        display: inline-block;
        margin: 0 20px;
        padding: 10px 10px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3.0em;
        letter-spacing: 3px;
        border: 8px solid #fff;
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1000px;
                box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1000px;
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }
      .head-wrapper .head-descr .head-name p {
        margin: 10px 0;
        text-transform: uppercase;
        color: #FAFAFA;
        letter-spacing: 5px;
        -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s; }

.h-opacity {
  opacity: 0.5;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease; }

.section-about p {
  margin-bottom: 25px; }
  .section-about p:nth-child(odd) {
    color: #7ba5de; }

.section-about .person-name {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 24;
  letter-spacing: 3px; }

.section-about ul {
  padding: 0; }

.section-about li {
  list-style: none;
  margin-bottom: 10px;
  color: #888; }

.section-about .social-wrap {
  margin-top: 20px; }

.person-img-wrap {
  text-align: center;
  margin-bottom: 30px; }
  .person-img-wrap img {
    width: 250px;
    height: 250px;
    display: inline-block;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

.social-wrap li {
  display: inline-block;
  margin-bottom: 0; }

.social-wrap a {
  font-size: 20px;
  padding: 0 5px;
  color: #7ba5de; }

.resume-left {
  text-align: right;
  border-right: 1px solid #999; }
  .resume-left h3 {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px; }

.resume-right {
  text-align: left; }
  .resume-right h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    letter-spacing: 2px; }

.resume-icon i {
  font-size: 40px; }

.resume-item p {
  margin-bottom: 20px; }
  .resume-item p strong {
    color: #7ba5de; }

.resume-year {
  display: inline-block;
  margin-bottom: 20px;
  padding: 2px 10px;
  background-color: #7ba5de;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px; }

.resume-descr {
  font-style: italic;
  margin-bottom: 20px; }

.portf-item .portf-item-wrap {
  position: relative;
  height: 500px;
  overflow: hidden; }
  .portf-item .portf-item-wrap .port-item-descr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
    .portf-item .portf-item-wrap .port-item-descr:hover {
      opacity: 1;
      padding: 0 15px; }
  .portf-item .portf-item-wrap h3 {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    margin: 200px 0;
    padding: 0; }
  .portf-item .portf-item-wrap p {
    color: #fff;
    margin-bottom: 20px; }
  .portf-item .portf-item-wrap a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    text-decoration: none;
    outline: none; }

.portf-popup .mfp-close-lay {
  width: 100%;
  height: 100%;
  z-index: 200; }

.port-item-descr-cont {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 300; }
  .port-item-descr-cont h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px; }
  .port-item-descr-cont img {
    width: 100%;
    height: 100%;
    border: 10px solid #fff; }
  .port-item-descr-cont .mfp-close {
    text-align: left;
    color: #fff;
    right: -60px;
    top: 80px;
    z-index: 1050; }

.controls {
  text-align: center; }
  .controls .paginator {
    display: block;
    margin-top: 40px;
    list-style: none; }
    .controls .paginator li {
      display: inline-block;
      font-size: 15px;
      font-weight: 600; }
      .controls .paginator li:hover {
        background-color: #fff;
        color: #222; }
      .controls .paginator li a {
        display: block;
        padding: 5px 10px;
        border: 3px solid #7ba5de;
        text-decoration: none; }
        .controls .paginator li a:hover {
          background-color: #fff;
          color: #222;
          text-decoration: none; }

.owl-prev {
  border: 3px solid #7ba5de;
  padding: 5px 10px;
  cursor: pointer; }

.owl-next {
  border: 3px solid #7ba5de;
  padding: 5px 10px;
  cursor: pointer; }

.portf-xs {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px; }
  .portf-xs li {
    padding: 10px 20px;
    text-align: left; }
    .portf-xs li a:hover {
      color: #7ba5de; }

.feedback-wrap {
  margin: 0 auto;
  max-width: 500px; }
  .feedback-wrap .feedback-form .input-field-feedback {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    width: 100%; }
    .feedback-wrap .feedback-form .input-field-feedback label {
      display: block;
      font-size: 17px;
      letter-spacing: 2px; }
      .feedback-wrap .feedback-form .input-field-feedback label span {
        color: #7ba5de; }
    .feedback-wrap .feedback-form .input-field-feedback input,
    .feedback-wrap .feedback-form .input-field-feedback textarea {
      width: 100%;
      padding: 10px 20px;
      border: 1px solid #ccc;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      outline: transparent;
      font-size: 15px;
      font-weight: 600;
      color: #000;
      background-color: #fff; }
      .feedback-wrap .feedback-form .input-field-feedback input:focus,
      .feedback-wrap .feedback-form .input-field-feedback textarea:focus {
        border: 1px solid #7ba5de;
        color: #000; }
  .feedback-wrap .feedback-form button {
    width: 100%;
    padding: 7px 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    background-color: #7ba5de;
    border: none;
    -webkit-border-radius: 3px;
            border-radius: 3px; }

.main-footer {
  margin: 0;
  padding: 50px 0;
  font-size: 13px;
  font-weight: 300; }
  .main-footer .social-wrap {
    float: right; }
